/*--------------------- Estilos base para dispositivos Mobile-First ---------------------*/

/*------------------------------------------------*/
/* Fondo y configuración general */
body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #eeeeee;
    overflow-x: hidden; /* Evita el desplazamiento horizontal en móviles */
}

header {
    background-color: #252525;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
}

/*-------------------------------------------------*/
*,
*::before,
*::after {
    transition: all 0.3s ease-in-out; /* Aplica una transición general a todos los elementos */
}
/*------------------------------------------------*/
/* Logo en el header para dispositivos móviles */
.logo-img {
    height: 56px; /* Tamaño del logo para dispositivos móviles */
    width: auto;
}

/*------------------------------------------------*/
/* Estilos de navegación para dispositivos móviles */
#nav-mobile a {
    font-size: 1rem; /* Tamaño de fuente en el menú móvil */
    color: #eeeeee;
}

/* Estilos de la cabecera del menú lateral */
.sidenav .sidenav-header {
    display: flex;
    justify-content: center;
    padding: 20px 0; /* Espaciado superior e inferior */
}

/* Logo en el menú lateral */
.sidenav-logo {
    width: 100px; /* Tamaño de la imagen */
    height: auto;
    border-radius: 50%; /* Hace la imagen circular */
}

/*------------------------------------------------*/
/* Opcional: estilos para los enlaces del sidenav */
.sidenav a {
    color: #eeeeee;
}

.sidenav a:hover {
    background-color: #cf0a0a; /* Cambia el fondo al pasar el mouse */
}

/*------------------------------------------------*/
/* Efecto hover en la navegación personalizada */
.custom-nav a:hover {
    background-color: #cf0a0a;
    transition: 2s; /* Suaviza el cambio de color en 2 segundos */
}

/*------------------------------------------------*/
/* Estilos para la frase destacada */
.frase {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem; /* Espaciado para pantallas pequeñas y grandes */
}

.frase-text {
    color: #d32f2f; /* Rojo oscuro */
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0; /* Elimina el margen superior */
    margin-bottom: 0; /* Elimina el margen inferior */
}

/*------------------------------------------------*/
/* Estilos del contenedor principal de historias */
.containerPrincipalHisto {
    background-color: #252525;
    padding: 20px;
}

/*------------------------------------------------*/
.card.horizontal {
    flex-direction: column; /* Coloca la imagen encima del texto */
    align-items: center; /* Centra la imagen horizontalmente */
    height: auto; /* Ajusta la altura automáticamente */
}

.card-image {
    width: 100%; /* La imagen ocupa todo el ancho */
    display: flex;
    justify-content: center;
}

.card-image img {
    width: 80%; /* Ajusta el tamaño de la imagen en móviles */
    height: auto; /* Mantén la proporción de la imagen */
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.card-stacked {
    width: 100%; /* El contenido ocupa todo el ancho */
    padding: 10px; /* Ajusta el espacio alrededor del texto */
    text-align: center; /* Centra el texto en móviles */
}

.card.horizontal:hover {
    transform: translateY(-5px); /* Mueve la tarjeta ligeramente hacia arriba */
}

/*------------------------------------------------*/
/* Estilo del contenido de la tarjeta */
.card-content p {
    font-size: 15px;
    margin: 0;
}

.card-content .card-title {
    font-size: 25px;
    font-weight: bold;
}
/* Efecto hover en el contenido de la tarjeta */
.card-content {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover .card-content {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

/*------------------------------------------------*/
/* Caja de información en el footer */
.info-box1{
    
    background-color: #D3D3D3;
    padding: 1rem;
    text-align: left;
    flex: 1;
}


/*------------------------------------------------*/
/* Ajuste para centrar el logo en el footer */
.containerImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerImg .logo-Foot {
    height: 200px; /* Tamaño del logo para móviles */
    width: 200px;
    animation: pulse 2s infinite; /* Animación de pulso */
}

/*------------------------------------------------*/
/* Redes sociales en el footer */
.container-Redes-Foot {
    display: flex;
    justify-content: space-evenly; /* Espacio entre los iconos */
}

.ImgIcons {
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease; /* Transición suave en tamaño */
}

/*------------------------------------------------*/
/* Lista desplegable con transiciones */
#titlesList.expanded {
    display: block;
    max-height: none;
}

#titlesList {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease; /* Transición de apertura suave */
}

/*------------------------------------------------*/
/* Separador de contenido */
.separator {
    width: 100%;
    margin: 1rem auto;
    border-top: 1px solid black;
}

/*------------------------------------------------*/
/* Footer links y layout */
.PaginasWebsFoot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-Foot {
    flex: 1;
}

.info-Foot a {
    transition: text-shadow 0.3s ease; /* pone lenta la transición de sombra */
    color: #000;
}

.info-Foot a:hover {
    text-shadow: 3px 3px 10px rgba(230, 19, 19, 0.8); /* Sombra roja en hover */
}

/*------------------------------------------------*/
/* Ubicación en el footer */
.location {
    flex: 1;
    display: flex;
    align-items: center;
}

.location .material-icons {
    vertical-align: middle;
    margin-right: 8px; /* Espacio entre el icono y el texto */
}

.footer {
    width: 100%; /* Ocupa el 100% del ancho */
    padding: 1rem 0;
    text-align: center;
    background-color: #D3D3D3; /* Color de fondo */
    color: #000; /* Color de texto */
    box-sizing: border-box; /* Incluye padding en el ancho total */
}

/*--------------------- Animaciones ---------------------*/
@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.05); } /* Aumenta ligeramente en el medio del ciclo */
}

.logo-Foot {
    animation: pulse 2s infinite; /* Animación continua de pulso */
}

/* Animación de rebote */
@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); } /* Rebota hacia arriba */
    100% { transform: translateY(0); }
}

.ImgIcons:hover {
    animation: bounce 0.5s ease forwards infinite; /* Rebote al pasar el mouse */
}

/*--------------------- Media Query para pantallas de tablets (768px - 1023px) ---------------------*/

@media (min-width: 768px) and (max-width: 1023px) {
    /* Forzar el tamaño del logo en tablets */
    .logo-img {
        height: 64px; /* Tamaño del logo específico para tablets */
        width: auto;
    }

    .info-box1{
    
        background-color: #D3D3D3;
        padding: 1.5rem;
        text-align: left;
        flex: 1;
    }
    .containerImg .logo-Foot{
        height: 200px;
        width: 200px;
        
    }
    .footer {
        width: 100%; /* Ocupa el 100% del ancho */
        padding: 1rem 0;
        text-align: center;
        background-color: #D3D3D3; /* Color de fondo */
        color: #000; /* Color de texto */
        box-sizing: border-box; /* Incluye padding en el ancho total */
    }

        /* Tarjetas de historias */
    .card.horizontal {
        display: flex;
        flex-direction: row; /* Alinea imagen y contenido en una fila */
        align-items: stretch;
        max-width: 100%; /* Ajusta el ancho para dispositivos móviles */
        max-height: 80%; /* Ajusta la altura máxima */
    }

    .card-image {
        width: 50%; /* Imagen ocupa el 50% del ancho */
    }

    .card-image img {
        width: 50%;
        height: auto;
        object-fit: cover; /* Recorta la imagen sin deformarla */
        transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
    }

    .card-stacked {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%; /* El contenido ocupa el 60% del ancho */
        padding: 20px;
    }

    .card.horizontal:hover {
        transform: translateY(-5px); /* Mueve la tarjeta ligeramente hacia arriba */
    }

    /* Efecto hover en el contenido de la tarjeta */
    .card-content {
        transition: box-shadow 0.3s ease, transform 0.3s ease;
    }

    .card:hover .card-content {
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
        transform: translateY(-5px);
    }

}


/*--------------------- Media Query para pantallas grandes (1024px y mayores) ---------------------*/

@media (min-width: 1024px) {
    /*------------------------------------------------*/
    /* Fondo y configuración general */
    body {
        margin: 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: #eeeeee;
        overflow-x: hidden;
    }

    header {
        background-color: #252525;
        width: 100%;
    }

    /*------------------------------------------------*/
    /* Logo en el header para pantallas grandes */
    .logo-img {
        height: 64px; /* Tamaño del logo para computadoras */
        width: auto;
    }

    #nav-mobile a {
        font-size: 1.2rem; /* Fuente más grande para escritorio */
        color: #eeeeee;
    }

    /* Efecto hover en la navegación personalizada */
    .custom-nav a:hover {
        background-color: #cf0a0a;
        transition: 2s;
    }

    /*------------------------------------------------*/
    /* Estilos para la frase en pantallas grandes */
    .frase {
        text-align: center;
    }

    .frase-text {
        font-size: 1.8em;
        padding: 1rem 2rem; /* Espaciado adicional en pantallas grandes */
        background-color: #eeeeee;
    }

    /*------------------------------------------------*/
    /* Contenedor principal de historias */
    .containerPrincipalHisto {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    .container-customHistorias {
        width: 100%;
        max-width: 1200px;
        padding: 10px 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .card.horizontal {
        flex-direction: row; /* Imagen a la izquierda y texto a la derecha */
        width: 100%;
        max-width: 1200px;
        height: 400px;
    }

    .card-image {
        width: 40%; /* Imagen ocupa el 40% del ancho */
        height: 100%;
    }

    .card-image img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Recorta la imagen sin distorsión */
    }

    .card-stacked {
        width: 60%; /* Contenido ocupa el 60% del ancho */
        padding: 20px;
    }

    .card-content p {
        font-size: 20px;
        margin: 0;
    }

    .card-content .card-title {
        font-size: 40px;
        font-weight: bold;
    }
    

    .card.horizontal:hover {
        transform: translateY(-5px); /* Mueve la tarjeta ligeramente hacia arriba */
    }

   
    /*------------------------------------------------*/
    /* Efecto hover en el contenido de la tarjeta */
    .card-content {
        transition: box-shadow 0.3s ease, transform 0.3s ease;
    }

    .card:hover .card-content {
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
        transform: translateY(-5px);
    }

    /*------------------------------------------------*/
    /* Ajuste para centrar el logo en el footer en pantallas grandes */
    .containerImg {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .containerImg .logo-Foot {
        height: 200px; /* Tamaño del logo en pantallas grandes */
        width: 200px;
    }

    /*------------------------------------------------*/
    /* Separador de contenido en pantallas grandes */
    .separator {
        width: 80%;
        margin: 1rem auto;
        border-top: 1px solid black;
    }
}
