/* Estilos mobile-first (por defecto) */

/* Fondo de pantalla con efecto de vidrio en el body */
body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #eeeeee;
    background-image: url('/Img/FondosImagenes/gettyimages-1316572851-640x640-transformed (1).jpeg'); /* Aplica la imagen de fondo en todas las pantallas */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
    position: relative; /* Necesario para usar z-index y pseudo-elementos */
}

/* Transición global para tamaños, márgenes y paddings */
*,
*::before,
*::after {
    transition: all 0.3s ease-in-out; /* Aplica una transición general a todos los elementos */
}

/* Capa de filtro de vidrio en el body */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px); /* Desenfoque para el efecto de vidrio */
    background-color: rgba(255, 255, 255, 0.1); /* Opcional: agrega un ligero color para el vidrio */
    z-index: -1; /* Asegura que el efecto esté detrás del contenido */
}

#nav-mobile a {
    font-size: 1rem;
    color: #eeeeee;
}

.custom-nav a:hover {
    background-color: #cf0a0a;
    transition: 2s;
}

.logo-img{
    height: 56px;
}


.sidenav {
    background-color: #ffffff !important;
    color: #333333; /* Color oscuro para el texto */
    z-index: 1000;
}

.sidenav a {
    color: #333333 !important;
}

.sidenav a:hover {
    background-color: #f0f0f0 !important; /* Efecto hover con un fondo ligeramente más oscuro */
    color: #cf0a0a !important; /* Color rojo para el hover en el texto */
}

.sidenav .sidenav-header {
    padding: 20px 0;
    text-align: center;
}

.sidenav-logo {
    width: 80px; /* Ajusta el tamaño de la imagen */
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sidenav-overlay {
    display: none !important;
}

/* Estilos para la cita */
.quote {
    background-color: white;
    padding: 15px;
    text-align: center;
    font-size: 1rem;
    color: #cf0a0a;
    margin: 15px auto;
    width: 100%;
    max-width: 1000px;
    border: 2px solid #cf0a0a;
}


.card-horizontal {
    width: 100%;
    max-width: 1000px; /* Ancho máximo para móviles */
    margin: 15px auto;
}

.card-horizontal .card-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-horizontal .card-image img {
    width: 100%;
    object-fit: cover;
    border: 3px solid #cf0a0a;
}


.card-horizontal .card-content {
    padding: 15px;
    text-align: center;
}

.card-horizontal .card-title {
    font-size: 1.3em;
    font-weight: bold;
    color: #cf0a0a;
    margin-bottom: 10px;
}

.card-horizontal .card-content p {
    font-size: 1em;
    color: #ffffff;
    margin: 0 0 10px;
}

.card-horizontal .card-action {
    padding-top: 10px;
}

.titles-list {
    list-style-type: none;
    padding-left: 0;
    margin: 10px 0;
}

.titles-list li a {
    color: #cf0a0a;
    text-decoration: none;
}

.titles-list li a:hover {
    text-decoration: underline;
}

.view-more {
    color: #cf0a0a;
    cursor: pointer;
    display: inline-block;
    text-decoration: underline;
    font-size: 0.9em;
}

.card-horizontal:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Footer */
.footer-container p {
    font-size: 1rem;
    font-weight: bold;
    color: #e74c3c;
}

.FootPlanes {
    display: flex;
    flex-direction: row-reverse;
}

/* Animaciones */
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

.logo-Foot {
    animation: pulse 2s infinite;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

@keyframes slideInfoLeft {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

.PaginasWebsFoot {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.info-box1 {
    background-color: #D3D3D3;
    padding: 1rem;
    text-align: left;
    flex: 1;
}

.separator {
    width: 100%;
    margin: 1rem auto;
    border-top: 1px solid black;
}

.containerImg {
    display: flex;
    justify-content: center;
}

.containerImg .logo-Foot {
    height: 200px;
    width: 200px;
}

.container-Redes-Foot {
    display: flex;
    justify-content: space-evenly;
}

.ImgIcons {
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}

.ImgIcons:hover {
    animation: bounce 0.5s ease forwards infinite;
}

.info-Foot a {
    transition: text-shadow 0.3s ease;
}

.info-Foot a:hover {
    text-shadow: 3px 3px 10px rgba(230, 19, 19, 0.801);
}

/* Media Query para pantallas de tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Ajuste de la barra de navegación */
    #nav-mobile a {
        font-size: 1.1rem;
        color: #eeeeee
    }

    .custom-nav a:hover {
        background-color: #cf0a0a;
        transition: 2s;
    }

    .logo-img {
        height: 64px; /* Ajuste del tamaño del logo */
    }

    

    /* Ajuste de la cita */
    .quote {
        background-color: white;
        padding: 18px;
        text-align: center;
        font-size: 1.1rem;
        color: #cf0a0a;
        margin: 20px auto;
        width: 100%;
        max-width: 1000px;
        border: 2px solid #cf0a0a;
        box-sizing: border-box;
    }

    /* Ajuste de la tarjeta (card) */
    .card-horizontal {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #252525;
        color: #ffffff;
        width: 100%;
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-sizing: border-box;
        text-align: center; /* Centrar el texto dentro de la tarjeta */
    }

    .card-horizontal .card-image {
        width: 100%;
        max-width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .card-horizontal .card-image img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border: 3px solid #cf0a0a;
    }

    .card-horizontal .card-content {
        padding: 15px;
    }

    .card-horizontal .card-title {
        font-size: 1.4em;
        font-weight: bold;
        color: #cf0a0a;
        margin-bottom: 10px;
    }

    .card-horizontal .card-content p {
        font-size: 1em;
        color: #ffffff;
        margin: 0 0 10px;
    }

    .card-horizontal .card-action {
        padding-top: 10px;
    }

    /* Footer */
    .footer-container p {
        font-size: 1.2rem;
        font-weight: bold;
        color: #e74c3c;
    }

    .PaginasWebsFoot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }

    .containerImg .logo-Foot {
        height: 180px;
        width: 180px;
    }

    .separator {
        width: 90%;
        margin: 1rem auto;
        border-top: 1px solid black;
    }

    /* Ajuste de los iconos de redes sociales */
    .container-Redes-Foot {
        display: flex;
        justify-content: space-evenly;
    }

    .ImgIcons {
        height: 45px;
        width: 45px;
        transition: transform 0.3s ease;
    }

    .info-Foot {
        flex: 1;
    }

    .location {
        flex: 1;
        display: flex;
        align-items: center;
    }

    .location .material-icons {
        vertical-align: middle;
        margin-right: 8px;
    }
}



/* Media Query para pantallas grandes (computadoras) */
@media (min-width: 1024px) {
    #nav-mobile a {
        font-size: 1.2rem;
        color: #eeeeee;
    }

    .custom-nav a:hover {
        background-color: #cf0a0a;
        transition: 2s;
    }

    .left-logo {
        position: relative;
        top: 8rem;
        left: 10rem;
    }

    .logo-img {
        height: 64px;
    }

    .quote {
        background-color: white;
        padding: 20px;
        text-align: center;
        font-size: 1.2rem;
        color: #cf0a0a;
        margin: 20px auto;
        width: 100%;
        max-width: 100%;
        border: 2px solid #cf0a0a;
        box-sizing: border-box;
    }

    .card-horizontal {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 10px;
        overflow: hidden;
        background-color: #252525;
        color: #ffffff;
        width: 100%;
        max-width: 1100px;
        padding: 20px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-sizing: border-box;
    }

    .card-horizontal .card-image {
        flex: 0 0 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-horizontal .card-image img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border: 3px solid #cf0a0a;
    }

    .card-horizontal .card-content {
        flex: 1;
        padding: 20px;
    }

    .card-horizontal .card-title {
        font-size: 1.5em;
        font-weight: bold;
        color: #cf0a0a;
        margin-bottom: 10px;
    }

    .card-horizontal .card-content p {
        font-size: 1em;
        color: #ffffff;
        margin: 0 0 10px;
    }

    .separator {
        width: 80%;
        margin: 1rem auto;
        border-top: 1px solid black;
    }

    .card-horizontal .card-action {
        padding-top: 10px;
    }

    .titles-list {
        list-style-type: none;
        padding-left: 0;
        margin: 10px 0;
    }

    .titles-list li a {
        color: #cf0a0a;
        text-decoration: none;
    }

    .titles-list li a:hover {
        text-decoration: underline;
    }

    .view-more {
        color: #cf0a0a;
        cursor: pointer;
        display: inline-block;
        text-decoration: underline;
        font-size: 0.9em;
    }

    .card-horizontal:hover {
        transform: scale(1.02);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .footer-container p {
        font-size: 1.5rem;
        font-weight: bold;
        color: #e74c3c;
    }

    .FootPlanes {
        display: flex;
        flex-direction: row-reverse;
    }

    .PaginasWebsFoot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    .info-Foot {
        flex: 1;
    }

    .location {
        flex: 1;
        display: flex;
        align-items: center;
    }

    .location .material-icons {
        vertical-align: middle;
        margin-right: 8px;
    }
}



