/*-------------------------------------------*/
/* Estilos base (Mobile First) */
/*-------------------------------------------*/

/* Ajuste de margen en el body */
body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Transición global para tamaños, márgenes y paddings */
*,
*::before,
*::after {
    transition: all 0.3s ease-in-out; /* Aplica una transición general a todos los elementos */
}

/* Desactivar la transición en el carrusel */
.carousel,
.carousel * {
    transition: none;
}


body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/Img/FondosImagenes/gettyimages-1316572851-640x640-transformed (1).jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(10px);
    z-index: -1;
}

/*-------------------------------------------*/
/* Encabezado y navegación */
/*-------------------------------------------*/

header {
    background-color: #252525;
}

#nav-mobile a {
    font-size: 1rem;
    color: #eeeeee;
}

.logo-img {
    height: 56px;
}

.custom-nav a:hover {
    background-color: #cf0a0a;
    transition: 2s;
}

.sidenav .sidenav-header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.sidenav-logo {
    width: 100px; /* Tamaño de la imagen */
    height: auto;
    border-radius: 50%; /* Hace la imagen circular */
}

.sidenav a {
    color: #eeeeee;
}

.sidenav a:hover {
    background-color: #cf0a0a;
}


/*-------------------------------------------*/
/* Banner */
/*-------------------------------------------*/

.banner {
    background-color: #252525;
    color: #eeeeee;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    margin: 2rem auto;
    width: 90%;
}

/*-------------------------------------------*/
/* Sección del mapa */
/*-------------------------------------------*/

.map-section {
    text-align: center;
    margin: 2rem 2rem;
}

.map-container {
    width: 90%;
    height: 300px;
    margin: 2rem auto;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: black 3px solid;
}

.map-iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/*-------------------------------------------*/
/* Carrusel */
/*-------------------------------------------*/

.conteinarCarrusel {
    padding: 1px 0;
    background-color: #252525;
}

.contenedorprincipalCarrucel {
    max-width: 100%;
    margin: auto;
}

.PNuestraFam {
    font-size: 1.5rem;
    font-weight: bold;
}

.carousel {
    position: relative;
    z-index: 1;
    max-width: 55rem;
    margin: auto;
}

.carousel img {
    height: 50vh;
    background: no-repeat center scroll;
    -webkit-backgroud-size: cover;
    -moz-box-size: cover;
    -moz-background-size:cover;
    background-size: cover;
    background-position: center center;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1000;
}



.carousel-control.prev {
    left: 10px;
    background-color: black;
}

.carousel-control.next {
    right: 10px;
    background-color: black;
}


.botonVermas {
    margin-top: 2rem;
    margin-bottom: 3rem; 
}




/*-------------------------------------------*/
/* Botones personalizados */
/*-------------------------------------------*/

.custom-btn {
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
    width: 18rem;
    height: 50px;
    background-image: linear-gradient(100deg, #000000 0%, #ff0000 50%);
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 10px;
    color: #eeeeee;
}


.custom-btn:hover {
    transform: translateY(3px);
}

.custom-btn:active {
    opacity: 0.7;
    transform: scale(0.95);
}
/*-------------------------------------------*/
/* Footer */
/*-------------------------------------------*/

.footer-container p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e74c3c;
}

.logo-Foot {
    animation: pulse 2s infinite;
}

.info-box1{
    
    background-color: #D3D3D3;
    padding: 1rem;
    text-align: left;
    flex: 1;
}

.separator {
    width: 100%;
    margin: 1rem auto;
    border-top: 1px solid black;
}

.footer {
    width: 100%; /* Ocupa el 100% del ancho */
    padding: 1rem 0;
    text-align: center;
    background-color: #D3D3D3; /* Color de fondo */
    color: #000; /* Color de texto */
    box-sizing: border-box; /* Incluye padding en el ancho total */
}


/*-------------------------------------------*/
/* Contenedor de imágenes y redes sociales */
/*-------------------------------------------*/

.containerImg {
    display: flex;
    justify-content: center;
}

.containerImg .logo-Foot {
    height: 200px;
    width: 200px;
}

.container-Redes-Foot {
    display: flex;
    justify-content: space-evenly;
}

.ImgIcons {
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}

.ImgIcons:hover {
    animation: bounce 0.5s ease forwards infinite;
}

/*-------------------------------------------*/
/* Enlaces de pie de página */
/*-------------------------------------------*/

.info-Foot a {
    transition: text-shadow 0.3s ease;
}

.info-Foot a:hover {
    text-shadow: 3px 3px 10px rgba(230, 19, 19, 0.801);
}

.PaginasWebsFoot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.info-Foot {
    flex: 1;
}

.location {
    flex: 1;
    display: flex;
    align-items: center;
}

.location .material-icons {
    vertical-align: middle;
    margin-right: 8px;
}

/*-------------------------------------------*/
/* Animaciones */
/*-------------------------------------------*/

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

/*-------------------------------------------*/
/* Estilos para pantallas medianas */
/*-------------------------------------------*/

@media (min-width: 768px) and (max-width: 1023px) {

    /* Encabezado */
    header {
        background-color: #252525;
    }

    .logo-img {
        height: 64px; /* Tamaño adecuado para tablets */
    }

    #nav-mobile a {
        font-size: 1.1rem; /* Tamaño de fuente un poco mayor para tablets */
    }

    /* Banner */
    .banner {
        font-size: 1.6rem;
        margin: 3rem auto;
        width: 85%; /* Ajusta el ancho para tablets */
        padding: 15px;
    }

    /* Sección del mapa */
    .map-section {
        margin: 3rem 3rem;
    }

    .map-container {
        width: 85%;
        height: 500px; /* Ajuste de altura para tablets */
        margin: 3rem auto;
    }

    /* Carrusel */
    .conteinarCarrusel {
        padding: 10px 0;
    }

    .contenedorprincipalCarrucel {
        max-width: 80%; /* Más ancho que en móvil pero menos que en escritorio */
        margin: auto;
    }

    .PNuestraFam {
        font-size: 1.8rem;
    }

    .carousel img {
        max-height: 100%;
        object-fit: cover;
        width: 100%;
    }

    .carousel-control {
        font-size: 1.8rem; /* Ajuste de tamaño del control para tablets */
    }

    .botonVermas {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    /* Botones personalizados */
    .custom-btn {
        width: 20rem; /* Ajuste de ancho del botón para tablets */
        height: 55px;
        font-size: 15px;
    }

    /* Footer */
    .footer-container p {
        font-size: 1.4rem;
    }

    .containerImg .logo-Foot{
        height: 200px;
        width: 200px;
        
    }

    .info-box1{
    
        background-color: #D3D3D3;
        padding: 1.5rem;
        text-align: left;
        flex: 1;
    }


    .PaginasWebsFoot {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
    }

    .separator {
        width: 100%; /* Ajuste de ancho del separador para tablets */
        margin: 1rem auto;
        border-top: 1px solid black;
    }

    .footer {
        width: 100%; /* Ocupa el 100% del ancho */
        padding: 1rem 0;
        text-align: center;
        background-color: #D3D3D3; /* Color de fondo */
        color: #000; /* Color de texto */
        box-sizing: border-box; /* Incluye padding en el ancho total */
    }
    
    .container-Redes-Foot {
        gap: 1rem; /* Espacio entre íconos sociales */
    }

    .ImgIcons {
        width: 50px;
        height: 50px;
    }
}


/*-------------------------------------------*/
/* Estilos para pantallas grandes */
/*-------------------------------------------*/

@media (min-width: 1024px) {
    .logo-img {
        height: 64px;
    }

    .banner {
        font-size: 1.7rem;
        margin: 5rem auto;
        width: 73%;
    }

    /* Tamaño del texto en el menú de navegación */
    #nav-mobile a {
        font-size: 1.2rem;
        color: #eeeeee;
    }


    .map-section {
        margin: 5rem 5rem;
    }

    .map-container {
        width: 80%;
        height: 500px;
        margin: 5rem auto;
    }

    .conteinarCarrusel {
        padding: 1px 0;
    }

    /* Carrusel */
    .carousel {
        max-width: 50rem;
        margin: auto;
        
    }

    .carousel-item img{
        height: 60vh;
        background: no-repeat center scroll;
        -webkit-backgroud-size: cover;
        -moz-box-size: cover;
        -moz-background-size:cover;
        background-size: cover;
        background-position: center center;
    }

    .contenedorprincipalCarrucel {
        max-width: 40%;
        margin: auto;
    }

    .PNuestraFam {
        font-size: 2rem;
    }

    .carousel-control {
        font-size: 2rem;
    }

    .botonVermas {
        margin-top: 2rem;
        margin-bottom: 3rem;margin-bottom: 2rem;
    }

    .custom-btn {
        width: 16rem;
        height: 60px;
        font-size: 24px;
    }

    .footer-container p {
        font-size: 1.5rem;
    }

    .containerImg .logo-Foot {
        height: 200px;
        width: 200px;
    }

    .PaginasWebsFoot {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }

    .separator {
        width: 80%;
        margin: 1rem auto;
        border-top: 1px solid black;
    }
}
