/*--------------------- Estilos generales para dispositivos móviles ---------------------*/

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Transición global para tamaños, márgenes y paddings */
*,
*::before,
*::after {
    transition: all 0.3s ease-in-out; /* Aplica una transición general a todos los elementos */
}

header {
    background-color: #25252525;
    width: 100%;
}

.logo-img {
    width: 56px; /* Tamaño reducido para móviles */
    height: auto;
}

#nav-mobile a {
    font-size: 1rem; /* Tamaño reducido para móviles */
    color: #eeeeee;
}

.custom-nav a:hover {
    background-color: #cf0a0a;
    transition: 2s;
}

.sidenav .sidenav-header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.sidenav-logo {
    width: 100px; /* Tamaño de la imagen */
    height: auto;
    border-radius: 50%; /* Hace la imagen circular */
}

/* Opcional: estilos para los enlaces del sidenav */
.sidenav a {
    color: #eeeeee;
}

.sidenav a:hover {
    background-color: #cf0a0a;
}


.banner {
    background-color: #cf0a0a;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    width: 90%;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.plans-container {
    display: block;
    background-color: #1d1d1d;
    padding: 2rem;
    box-sizing: border-box;
}

.plan-text {
    max-width: 100%;
    text-align: center;
    margin-bottom: 1.5rem; /* Espacio entre los planes */
}

.plan-text h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #f2f2f2;
}



.custom-btn {
    font-size: 20px;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(100deg, #000000 0%, #ff0000 50%);
    border: none;
    cursor: pointer;
    color: #eeeeee;
    transition: all 0.3s ease-in-out;
}

.custom-btn:hover {
    transform: translateY(3px);
}

.custom-btn:active {
    opacity: 0.7;
    transform: scale(0.95);
}

.contact-container {
    background-color: #cf0a0a;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.contact-details {
    display: flex;
    flex-direction: column; /* Organiza el contenido en columna */
    align-items: center; /* Centra el contenido horizontalmente */
    justify-content: center;
    background-color: #eeeeee;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px; /* Ancho máximo para asegurar que no sea demasiado grande */
    margin: 0 auto; /* Centra el contenedor dentro de la página */
}

.contact-info {
    text-align: center; /* Centra el texto dentro del contenedor */
    margin-bottom: 20px;
}

.contact-info p {
    margin: 0;
    line-height: 1.6;
    font-size: 18px;
}

/* Ajuste responsivo para que la imagen esté centrada y un poco más grande en pantallas grandes */
.contact-details img {
    width: 100%;
    max-width: 200px; /* Tamaño por defecto de la imagen en móviles */
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    margin-top: 20px; /* Añade espacio entre el texto y la imagen */
}


.contactenos {
    text-align: center;
    color: #cf0a0a;
    font-size: 2rem; /* Tamaño reducido para móvil */
    background-color: #eeeeee;
    width: 100%; /* Ocupa el 100% del ancho disponible */
    padding: 10px; /* Espaciado interno para dar margen en el contenedor */
}

.footer-container p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #cf0a0a;
}

.container-Redes-Foot {
    display: flex;
    justify-content: space-around;
}

.ImgIcons {
    height: 40px;
    width: 40px;
    transition: transform 0.3s ease;
}

.info-Foot a {
    transition: text-shadow 0.3s ease;
}

.PaginasWebsFoot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.plan-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.plan-image img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

/* Ajustes responsivos para la imagen del footer en móviles */
.containerImg .logo-Foot {
    height:200px; /* Tamaño adecuado para móviles */
    width: 200px;
    display: block;
    margin: 0 auto; /* Centrado horizontal en el contenedor */
}

.icon-pos {
    vertical-align: middle; /* Alinea el icono con el texto */
    margin-right: 8px; /* Espacio entre el icono y el texto */
    color: #252525; /* Color del icono */
    
}

.under{
    text-decoration: underline;
}
.under:hover{
    text-shadow: 3px 3px 10px rgba(230, 19, 19, 0.801);
}


/*--------------------- Animaciones ---------------------*/
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

@keyframes slideInfoLeft {
    from { margin-left: 100%; width: 300%; }
    to { margin-left: 0%; width: 100%; }
}

.logo-Foot {
    animation: pulse 2s infinite;
}

.ImgIcons:hover {
    animation: bounce 0.5s ease forwards infinite;
}

.logo-container {
    animation: float 6s ease-in-out infinite;
}

.info-box1 {
    background-color: #D3D3D3;
    padding: 1rem;
    text-align: left;
}

/* Separador móvil entre planes */
.separator-mobile {
    width: 100%;
    height: 10px; /* Altura del separador */
    background-color: #D3D3D3; /* Color del separador */
}


.separator {
    width: 100%;
    margin: 1rem auto;
    border-top: 1px solid black;
}

/*--------------------- Fin de los estilos para dispositivos móviles ---------------------*/

/*--------------------- Estilos para pantallas de tablets ---------------------*/
@media (min-width: 600px) and (max-width: 1024px) {
    /* Ajuste del header */
    header {
        background-color: #252525;
        width: 100%;
    }

    .logo-img {
        width: 64px; /* Tamaño adecuado para tablets */
        height: auto;
    }

    #nav-mobile a {
        font-size: 1.1rem; /* Ajuste de fuente para tablets */
        color: #eeeeee;
    }

    /* Banner rojo */
    .banner {
        background-color: #cf0a0a;
        color: white;
        text-align: center;
        padding: 18px;
        font-size: 18px;
        font-weight: bold;
        width: 100%;
        transform: translateX(-50%);
        z-index: 2;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    /* Contenedor general de los planes */
    .plans-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1d1d1d;
        padding: 3rem 1.5rem;
        width: 100%;
        box-sizing: border-box;
        position: relative;
    }

    .plan-text {
        max-width: 100%;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .plan-text h2 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 15px;
        color: #f2f2f2;
    }

    .custom-btn {
        width: 100%;
        height: 50px;
        font-size: 18px;
        transition: all 0.3s ease-in-out;
    }

    .plan-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 2rem;
    }

    .plan-image img {
        width: 80%;
        height: auto;
        object-fit: cover;
    }

    .plan-details {
        font-size: 1rem;
        color: #eeeeee;
        margin-top: 10px;
        margin-left: 4rem;
    }

    .plan-details2{
        margin-left: 5rem;
    }

    .plan-details ul {
        list-style-type: none;
        padding-left: 0;
    }

    .plan-details li {
        margin-bottom: 10px;
    }

    /* Contact Section */
    .contact-container {
        display: flex;
        justify-content: center;
        padding: 20px;
        background-color: #cf0a0a;
    }

    .contact-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #eeeeee;
        padding: 20px;
        border-radius: 10px;
        width: 90%;
        max-width: 600px;
        margin: 0 auto;
    }

    .contact-info {
        text-align: center;
        margin-bottom: 20px;
    }

    .contact-info p {
        margin: 0;
        line-height: 1.6;
        font-size: 16px;
    }

    .contact-details img {
        width: 100%;
        max-width: 250px; /* Tamaño adecuado para tablets */
        height: auto;
        border-radius: 5px;
        object-fit: cover;
        margin-top: 15px;
    }

    /* Contact Header */
    .contactenos {
        text-align: center;
        color: #cf0a0a;
        font-size: 2.3rem; /* Tamaño adecuado para tablets */
        background-color: #eeeeee;
        padding: 15px;
    }

    /* Footer */
    .footer-container p {
        font-size: 1.2rem;
        font-weight: bold;
        color: #cf0a0a;
    }

    .container-Redes-Foot {
        display: flex;
        justify-content: space-around;
        padding: 10px 0;
    }

    .ImgIcons {
        height: 40px;
        width: 40px;
    }

    .PaginasWebsFoot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }

    /* Ajustes de la imagen del logo en el footer */
    .containerImg .logo-Foot {
        height: 150px;
        width: 150px;
        display: block;
        margin: 0 auto;
    }

    .info-box1 {
        background-color: #D3D3D3;
        padding: 1rem;
        text-align: left;
    }

    .separator {
        width: 100%;
        margin: 1rem auto;
        border-top: 1px solid black;
    }
    
    .location {
        flex: 1;
        display: flex;
        align-items: center;
    }

    .location .material-icons {
        vertical-align: middle;
        margin-right: 8px;
    }
}



/*--------------------- Estilos para pantallas de computadora ---------------------*/
@media (min-width: 1025px) {
    /* Ajuste de margen en el body */
    body {
        margin: 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    body::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-image: url('/Img/FondosImagenes/gettyimages-1316572851-640x640-transformed (1).jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        filter: blur(10px);
        z-index: -1;
    }

    header {
        background-color: #25252525;
        width: 100%;
    }

    .logo-img {
        width: 64px;
        height: auto;
    }

    #nav-mobile a {
        font-size: 1.2rem;
        color: #eeeeee;
    }

    .separator-mobile {
        display: none;
    }

    /* Banner rojo */
    .banner {
        background-color: #cf0a0a;
        color: white;
        text-align: center;
        padding: 20px;
        font-size: 20px;
        font-weight: bold;
        width: 70%;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    /* Contenedor general de los planes */
    .plans-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #1d1d1d;
        padding: 5rem;
        margin: 10rem auto;
        width: 100%;
        box-sizing: border-box;
        position: relative;
    }

    .plan-text {
        max-width: 300px;
        text-align: left;
    }

    .plan-text h2 {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 20px;
        color: #f2f2f2;
    }

    .custom-btn {
        width: 13rem;
        height: 60px;
        font-size: 24px;
        transition: all 0.3s ease-in-out;
        font-family: "Dosis", sans-serif;
    }

    .plans-infoCompleta {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .plan-details {
        font-size: 1rem;
        color: #eeeeee;
        margin-top: 10px;
    }

    .plan-details ul {
        list-style-type: none;
        margin-left: 20px;
    }

    .plan-details li {
        margin-bottom: 10px;
    }

    .contact-container {
        display: flex;
        justify-content: center;
        padding: 40px;
    }
    
    .contact-details {
        display: flex;
        flex-direction: row; /* Alineación en fila para contener la imagen y el texto en horizontal */
        align-items: center;
        justify-content: space-between;
        background-color: #eeeeee;
        padding: 40px;
        border-radius: 10px;
        width: 70%;
        max-width: 800px;
    }

    
    .icon-pos {
        vertical-align: middle; /* Alinea el icono con el texto */
        margin-right: 8px; /* Espacio entre el icono y el texto */
        color: #252525; /* Color del icono */
    }

    
    .contact-info {
        display: flex;
        flex-direction: column; /* Alineación vertical de los elementos de texto */
        text-align: left;
        margin-right: 20px;
    }
    
    .contact-info p {
        margin: 0 0 10px 0; /* Margen inferior para separar cada línea de texto */
        line-height: 1.6;
        font-size: 18px;
    }
    
    .contact-details img {
        max-width: 300px;
        width: 100%;
        height: auto;
        border-radius: 5px;
        object-fit: cover;
    }

    /* Footer */
    .footer-container p {
        font-size: 1.5rem;
        font-weight: bold;
        color: #e74c3c;
    }

    .FootPlanes {
        display: flex;
        flex-direction: row-reverse;
    }

    .logo-Foot {
        animation: pulse 2s infinite;
    }

    .logo-container {
        position: absolute;
        bottom: 10px;
        width: 8rem;
        opacity: 0.3;
        z-index: 2;
    }

    .info-box1 {
        background-color: #D3D3D3;
        padding: 1rem;
        text-align: left;
    }

    .separator {
        width: 80%;
        margin: 1rem auto;
        border-top: 1px solid black;
    }

    .PaginasWebsFoot {
        display: flex;
        justify-content: center;
    }

    .containerImg {
        display: flex;
        justify-content: center;
    }

    /* Ajustes responsivos para la imagen del footer en escritorio */
    .containerImg .logo-Foot {
        height: 200px;
        width: 200px;
    }

    .container-Redes-Foot {
        display: flex;
        justify-content: space-evenly;
    }

    .ImgIcons {
        height: 50px;
        width: 50px;
        transition: transform 0.3s ease;
    }

    .info-Foot a:hover {
        text-shadow: 3px 3px 10px rgba(230, 19, 19, 0.801);
    }

    .PaginasWebsFoot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    .info-Foot {
        flex: 1;
    }

    .location {
        flex: 1;
        display: flex;
        align-items: center;
    }

    .location .material-icons {
        vertical-align: middle;
        margin-right: 8px;
    }

    .contactenos {
        display: flex;
        justify-content: center;
        text-align: center;
        color: #cf0a0a;
        font-size: 3.5rem;
        margin-top: -10rem;
        background-color: #eeeeee;
    }

    .RESTRICCION {
        text-decoration: underline;
    }
}
