/* Ajuste de margen en el body */
body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 100px; /* Para dejar espacio debajo del navbar fijo */
}

header {
    background-color: #000;
    width: 100%; /* Asegura que el header ocupe el ancho completo */
}

/* Navegación */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Espaciado uniforme entre elementos */
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed; /* Fija la navbar en la parte superior */
    top: 0; /* Posición en la parte superior */
    width: 100%; /* Cambia a 100% para ocupar todo el ancho */
    background-color: #333; /* Color de fondo */
    z-index: 1000; /* Asegura que la barra quede sobre otros elementos */
   
}

/* Logo */
.logo {
    margin-right: 20px;
}

.logo-img {
    width: 100px; /* Tamaño del logo */
    height: auto;
}

.navbar li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    font-size: 16px;
    text-align: center;
    display: block;
}

.navbar li a:hover {
    background-color: #cf0a0a;
    transition: 2s;
}

/* Banner rojo */
.banner {
    background-color: #cf0a0a;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    width: 70%; /* Ajusta el tamaño según sea necesario */
    position: absolute; /* Hace que el banner se superponga */
    top: -30px; /* Ajusta la posición vertical según tu necesidad */
    left: 50%;
    transform: translateX(-50%); /* Centra el banner horizontalmente */
    z-index: 2; /* Asegura que el banner se superponga sobre los otros elementos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra para mayor visibilidad */
}


/* Contenedor general de los planes */
.plans-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1d1d1d;
    padding: 5rem;
    margin: 10rem auto;
    width: 100%; /* Abarca todo el ancho */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    position: relative; /* Para que el banner pueda posicionarse dentro de este contenedor */
}

.plan-text {
    max-width: 300px;
    text-align: left;
}

.plan-text h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #f2f2f2;
}

/* Estilo para el botón */
button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: relative;
    padding: 0 4.5rem;
    font-size: 18px;
    text-transform: uppercase;
    border: 0;
    box-shadow: hsl(0deg 87% 36%) 0px 7px 0px 0px; /* Sombra roja */
    background-color: hsl(0deg 100% 44%); /* Rojo */
    border-radius: 12px;
    overflow: hidden;
    transition: 31ms cubic-bezier(.5, .7, .4, 1);
}

button:before {
    content: attr(alt);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    font-size: 15px;
    font-weight: bold;
    color: white;
    letter-spacing: 4px;
    opacity: 1;
}

button:active {
    box-shadow: none;
    transform: translateY(7px);
    transition: 35ms cubic-bezier(.5, .7, .4, 1);
}

button:hover:before {
    transition: all 0s;
    transform: translateY(100%);
    opacity: 0;
}

button i {
    color: white;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 4px;
    font-style: normal;
    transition: all 2s ease;
    transform: translateY(-20px);
    opacity: 0;
}

button:hover i {
    transition: all .2s ease;
    transform: translateY(0px);
    opacity: 1;
}

button:hover i:nth-child(1) {
    transition-delay: 0.045s;
}

button:hover i:nth-child(2) {
    transition-delay: calc(0.045s * 2);
}

button:hover i:nth-child(3) {
    transition-delay: calc(0.045s * 3);
}

button:hover i:nth-child(4) {
    transition-delay: calc(0.045s * 4);
}

button:hover i:nth-child(5) {
    transition-delay: calc(0.045s * 5);
}

button:hover i:nth-child(6) {
    transition-delay: calc(0.045s * 6);
}

button:hover i:nth-child(7) {
    transition-delay: calc(0.045s * 7);
}

button:hover i:nth-child(8) {
    transition-delay: calc(0.045s * 8);
}

button:hover i:nth-child(9) {
    transition-delay: calc(0.045s * 9);
}

button:hover i:nth-child(10) {
    transition-delay: calc(0.045s * 10);
}

.plan-image {
    background-color: #ccc;
    width: 350px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.plan-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.plan-details {
    font-size: 12px;
    color: #aaa;
    margin-top: 10px;
}

/* Contacto */
.contact-container {
    background-color: #cf0a0a;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.contact-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}

.contact-info {
    flex: 1;
    padding-right: 20px;
}

.contact-info p {
    margin: 0;
    line-height: 1.6;
    font-size: 18px;
}

.contact-details img {
    width: 150px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    margin-left: 20px;
}

/* Footer */
.footer {
    background-color: #f2f2f2;
    padding: 5rem;
    text-align: center;
    font-size: 16px;
}

.footer span {
    font-weight: bold;
}

.contactenos {
    text-align: center;
    color: #cf0a0a;
    font-size: 3.5rem;
    margin-top: -5rem; /* Mueve el div más hacia arriba */
}

.logo-img:hover {
    background-color: black; /* Cambia el fondo de la imagen a blanco */
    padding: 5px; /* Añade un padding para ver el efecto del fondo blanco */
    border-radius: 5px; /* Añade bordes redondeados si lo prefieres */
    transition: all 0.3s ease; /* Suaviza la transición */
}


/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Poner los elementos de la barra de navegación en columna */
        padding: 1rem;
    }

    .banner {
        font-size: 1.5rem; /* Reducir tamaño del banner en pantallas más pequeñas */
        padding: 10px;
    }

    .plans-container {
        flex-direction: column; /* Poner los elementos uno debajo del otro en pantallas más pequeñas */
        padding: 2rem;
        margin: 5rem auto;
    }

    .plan-text {
        max-width: 100%; /* Asegura que ocupe todo el ancho */
        text-align: center; /* Centrar el texto */
        margin-bottom: 20px;
    }

    .plan-image {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .contact-details {
        flex-direction: column; /* Alinear los detalles de contacto en columna */
        width: 90%; /* Ampliar el ancho en pantallas más pequeñas */
    }

    .contact-info {
        padding-right: 0;
        margin-bottom: 10px; /* Añadir margen entre secciones de contacto */
        text-align: center;
    }

    .contact-details img {
        width: 100px; /* Reducir el tamaño de la imagen de contacto */
    }

    .footer {
        padding: 10px; /* Reducir padding del footer */
    }

    .contactenos {
        font-size: 2rem; /* Ajustar el tamaño de texto en pantallas más pequeñas */
    }
}

/* Media query para pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {
    .plans-container {
        padding: 1rem;
    }

    .plan-text h2 {
        font-size: 2rem; /* Reducir el tamaño del título del plan */
    }

    .plan-text button {
        padding: 0.5rem 3rem; /* Reducir tamaño de los botones */
        font-size: 14px;
    }

    .plan-details {
        font-size: 10px;
    }

    .contactenos {
        font-size: 1.5rem; /* Ajustar aún más para pantallas pequeñas */
    }
}