/* Fondo de pantalla con efecto de vidrio en el body */
body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #eeeeee;
    overflow-x: hidden; /* Para evitar desbordamiento horizontal */
}


header {
    background-color: #252525;
    width: 100%; /* Asegura que el header ocupe el ancho completo */
}


#nav-mobile a {
    font-size: 1.2rem; /* Ajusta el tamaño inicial de la fuente */
    color: #eeeeee; /* Puedes ajustar el color de los enlaces si lo necesitas */
}

.custom-nav a:hover {
    background-color:  #cf0a0a;
    transition: 2s;
}


.left-logo {
    position: relative;
    top: 8rem; 
    left: 10rem;  
}

.logo-img{
    height: 63px;
}
.navbar-menu li a:hover {
    background-color: #cf0a0a;
    transition: 0.3s;
}

/*Modifys contenedor info historias*/

.containerPrincipalHisto {
    background-color: #252525;
    height: 200vh;

    /* Flexbox para centrar el contenedor */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}






/*-----------------------------------------------------------------------------------------*/

/* Estilos para el footer */
footer {
    background-color: #eeeeee; /* Color de fondo claro */
    padding: 20px 0;
    text-align: center;
}

.footer-container p {
    font-size: 2rem;
    font-weight: bold;
    color: #e74c3c; /* Color rojo */
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 5rem; /* Espacio entre los iconos */
}

.social-icons a {
    text-decoration: none;
}

.social-icons img {
    width: 5rem; /* Tamaño de los iconos */
    height: 5rem;
    filter: grayscale(100%); /* Blanco y negro */
}

.social-icons img:hover {
    filter: none; /* Color al pasar el mouse */
}



/*-----------------------------------------------------------------------------------------*/

/* Tamaño específico para las cartas */
.card {
    width: 300px; /* Ancho específico para cada carta */
    height: 480px; /* Altura específica para cada carta */
    margin: 15px auto; /* Centra las cartas horizontalmente */
    overflow: hidden; /* Asegura que el contenido no sobresalga */
    display: flex;
    flex-direction: column; /* Coloca el contenido verticalmente */
    justify-content: space-between; /* Espacia el contenido */
}

/* Estilo del contenedor de la imagen en la tarjeta */
.card-image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    height: 80px; /* Altura de la imagen más pequeña */
    color: #333;
    font-size: 20px; /* Tamaño de ícono más pequeño */
}

/* Ajuste del tamaño de texto */
.card-content p {
    font-size: 14px; /* Texto más pequeño */
    margin: 0;
}

.card-content .card-title {
    font-size: 16px; /* Título de tamaño más pequeño */
    font-weight: bold;
}

/* Efectos al hacer hover */
.card-content {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover .card-content {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra interna suave */
    transform: translateY(-5px); /* Desplaza el contenido ligeramente hacia arriba */
}



.card-image img {
    width: 100%;
    max-width: 300px;
    max-height: 200px; /* Altura máxima de la imagen */
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid red;
}

.card-image:hover img {
    transform: scale(1.05); /* Aumenta el tamaño de la imagen al pasar el mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega sombra */
}
