/* Fondo de pantalla con efecto de vidrio en el body */
body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #eeeeee;
    overflow-x: hidden; /* Para evitar desbordamiento horizontal */
}


main {
    background-image: url('/Img/FondosImagenes/gettyimages-1316572851-640x640-transformed\ \(1\).jpeg'); /* Cambia esta ruta */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
    position: relative;
    z-index: 1;
}

/* Capa de filtro de vidrio */
main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px); /* Aplica el efecto de vidrio borroso */
    z-index: -1; /* Para que quede debajo del contenido */
}


#nav-mobile a {
    font-size: 1.2rem; /* Ajusta el tamaño inicial de la fuente */
    color: #eeeeee; /* Puedes ajustar el color de los enlaces si lo necesitas */
}

.custom-nav a:hover {
    background-color:  #cf0a0a;
    transition: 2s;
}


.left-logo {
    position: relative;
    top: 8rem; 
    left: 10rem;  
}

.logo-img{
    height: 63px;
}


.quote {
    background-color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    color: #cf0a0a;
    margin: 20px auto;
    width: 70%;
    border: 2px solid #cf0a0a;
    
}


/*---------------------------------------------------------------------------------------*/
/* Estilos personalizados */
.card-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    background-color: #252525;
    color: #ffffff;
    width: 100%;
    max-width: 1100px;
    margin: 100px auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-horizontal .card-image {
    flex: 0 0 200px; /* Define el ancho de la imagen en la tarjeta horizontal */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-horizontal .card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 3px solid #cf0a0a; /* Borde temporal para verificar */
}

.card-horizontal .card-content {
    flex: 1;
    padding: 20px;
}

.card-horizontal .card-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #cf0a0a;
    margin-bottom: 10px;
}

.card-horizontal .card-content p {
    font-size: 1em;
    color: #ffffff;
    margin: 0 0 10px;
}

.card-horizontal .card-action {
    padding-top: 10px;
}

.titles-list {
    list-style-type: none;
    padding-left: 0;
    margin: 10px 0;
}

.titles-list li a {
    color: #cf0a0a;
    text-decoration: none;
}

.titles-list li a:hover {
    text-decoration: underline;
}

.view-more {
    color: #cf0a0a;
    cursor: pointer;
    display: inline-block;
    text-decoration: underline;
    font-size: 0.9em;
}

.card-horizontal:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/*----------------------------------------------------------------------------------*/

.containerFoot {
    background-color: black; /* Fondo negro para el footer */
    padding: 20px;
    text-align: center; /* Centra el contenido */
    position: relative; /* Asegura que el footer-banner se posicione relativamente a este contenedor */
}

/* Footer Banner */
.footer-banner {
    width: 50%; /* Define el ancho del div rojo */
    background-color: #cf0a0a; /* Fondo rojo */
    text-align: center;
    padding: 10px;
    margin: 0 auto; /* Centrar horizontalmente */
    
    position: relative; /* Permite posicionar el div dentro del contenedor */
    top: -40px; /* Desplaza el div rojo 20px hacia arriba, ajusta este valor según lo que necesites */
}

.footer-banner h2 {
    font-size: 1.5rem;
    color: #cf0a0a;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    background-color: black; /* Fondo negro detrás del texto */
    display: inline-block;
}

/* Footer Icons */
.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cf0a0a; /* Mismo fondo rojo */
    padding: 20px 0;
}

.footer-icons a {
    margin: 0 15px;
    text-decoration: none;
}

.footer-icons img {
    width: 50px; /* Tamaño de los iconos */
    height: auto;
}



